__pycache__
# Fichero con los dato de la API
config.yml
# Ignoramos los directorios de las palabras tranformadas
palabras
nopalabras
# Ignoramos los audio generados
*.mp3
*.wav
*.ogg

# Ignoramos ficheros de distribución
dist
build
*.egg-info
